body {
  font-family: Arial, sans-serif;
}

h1,
p,
h2 {
  text-align: center;
}

#game-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stock {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.stock:hover {
  background-color: lightgray;
}

.stock img {
  width: 100px;
  height: 100px;
}

.name {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.price {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

#result {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}